.maincontent .photo{
    height: 13rem;
}
@media (min-width: 950px) and (min-height: 800px) {
    .maincontent .photo.left{
        float:left;
        margin-right: 1rem;
    }
    .maincontent .photo.right{
        float:right;
        margin-left: 1rem;
    }
}
.maincontent h4{
    margin-bottom: 0px;
}
.maincontent p{
    margin-top: 0px
}
@media (max-width: 950px) and (max-height: 800px) {
    .maincpntent .photo.left{
        float: none;
    }
}